[core]
	editor = 'micro'
    autocrlf = 'input'
[pull]
	rebase = True
	autosquash = True
	excludesfile = /Users/sheldonhull/.gitignore
[push]
	followTags = True

# Ensure Git Town Sync Is Available
[alias]
    quickcommit = !pwsh -noprofile -nologo -c 'git commit -am\"[wip] $(dotnet-gitversion /showvariable FullSemVer)\" && git town sync'
    pushf = !git push --force-with-lease
    fixup = !git commit -a --amend --no-edit
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
