[core]
	editor = 'micro'
[pull]
	rebase = True
	autosquash = True
	excludesfile = /Users/sheldonhull/.gitignore
[push]
	followTags = True

# Ensure Git Town Sync Is Available
[alias]
    quickcommit = !git commit -am"[wip] $(gitversion /showvariable FullSemVer)" && git town sync
    pushf = !git push --force-with-lease
    fixup = !git commit -a --amend --no-edit
