{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash


echo -e "installing latest zsh"
DEBIAN_FRONTEND=noninteractive sudo apt-get -yqq -o Dpkg::Progress-Fancy=true update \
     && sudo apt-get -yqq -o Dpkg::Progress-Fancy=true install zsh zsh-antigen \
     && sudo apt-get -yqq -o Dpkg::Progress-Fancy=true clean \
     && echo "finished install of zsh & tools"
echo -e "✔️ installed latest zsh"

# (sh -c "$(wget https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh -O -)" && echo -e "✔️ installed oh my zsh") || (sudo apt-get -qqy update && sudo apt-get -qqy install wget --no-install-recommends && sh -c "$(wget https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh -O -)")
{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
export HOMEBREW_NO_AUTO_UPDATE=1
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
package=zsh
brew list $package &>/dev/null || brew install $package
echo -e "✔️ installed latest zsh"
# sh -c "$(wget https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh -O -)"
# echo -e "✔️ installed oh my zsh"
{{ else }}

{{ end -}}
